/* STYLE SHEET */
/* ========== INDEX ========== */

/* ========== RESET VALUES START ========== */

/* :root {
  --rusian: #714955;
  --salmon: #7B886B;
} */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: rgba(1, 47, 72, 1);
  filter: drop-shadow(.1rem .1rem .5rem rgba(1, 47, 72, 1));
}

body {
  background: linear-gradient(345deg,
   rgba(29,138,199,1) 0%,
   rgba(59,152,205,1) 16%,
   rgba(119,181,216,1) 28%,
   rgba(238,238,238,1) 42%);
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
}
/* ========== RESET VALUES END ========== */

/* ========== 1. HEADER START ========== */
.main__header {
  width: 100%;
  background: linear-gradient(345deg, rgba(29,138,199,1) 0%, rgba(59,152,205,1) 16%, rgba(119,181,216,1) 28%, rgba(238,238,238,1) 42%);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main__header-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin: 0;
  width: 100%;
}

.item {
  list-style-type: none;
}

.logos {
  display: flex;
  align-items: center;
  width: 7rem;
  height: 7rem;
}

.title {
  flex-grow: 1;
}

.main__header-title {
  text-align: center;
  padding: .5rem;
}

@media screen and (min-width: 768px) {
  .main__header {
    padding: 1rem;
  }

  .main__header-logos {
    justify-content: space-around;
  }

  .title {
    flex-grow: 0;
  }
}

@media screen and (min-width: 1024px) {

  .main__header {
    width: 80%;
    padding: 1rem;
  }

}
/* ========== HEADER END ========== */

/* ========== 2. MAIN START ========== */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: inherit;
  width: 40rem;
  padding: 1rem;
  margin: 2rem 0 3rem;
}

@media screen and (min-width: 768px) {

  .container {
    width: 50rem;
  }

}

@media screen and (min-width: 1024px) {

  .container {
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    margin: auto 0;
    padding: 2rem 0;
  }

}

/* SLIDER */
.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {

  .slide-container {
    flex: 0 0 calc(50% - 1rem);
  }
}

/* SLIDER EFFECT */
.slider {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4;}
  to {opacity: 1;}
}

@keyframes fade {
  from {opacity: .4;}
  to {opacity: 1;}
}

/* IMAGES CONTROL  */
.box {
  display: none;
  margin: 0;
  padding: 0;
  border-radius: .5rem;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.slide {
  border-radius: .5rem;
  opacity: 0.9;
}

@media screen and (min-width: 1024px) {
  .box {
    width: 90%;
  }
}

/* ACCORDION */
.accordion__info-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}

/* @media screen */
@media screen and (min-width: 1024px) {

  .accordion__info-container {
    width: 45%;
  }

}

/* button */
.accordion__info-bar {
  text-align: left;
  padding: 1.5rem 2rem;
  font-size: 1.4rem;
  border: none;
  outline: none;
  border-bottom: .2rem solid rgba(16, 78, 112, 1);
  cursor: pointer;
  transition: all .4s linear;
  background-color: inherit;
}

.accordion__info-bar::after {
  content: '\02795';
  font-size: 1rem;
  color: rgba(29,138,199,1);
  float: right;
}

.accordion__info-bar:hover {
  background-color: #ccc;
}

/* JS button efect */
.act {
  background-color: #ccc;
  margin-bottom: 0;
}

.act::after {
  content: '\2796';
}

@media screen and (min-width: 768px) {

  .accordion__info-bar {
    font-size: 2rem;
  }

  .accordion__info-bar::after {
    font-size: 1.5rem;
  }
}

/* Info Panels */
.info-bar-panel {
  font-size: 1.2rem;
  background-color: rgba(222, 244, 249, 1);
  color: #000;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.info-bar-panel > ul {
  margin: 0;
}

.info-bar-panel > p {
  margin: 0;
  padding: 1rem 1.5rem 2rem;
  border-bottom: .1rem solid #000;
}

.info-bar-panel > p:hover {
  background-color: #00ffa26f;
}

.info-bar-panel > p:nth-last-child(2), p:nth-last-child(0) {
  border-bottom: none;
}

.form-link {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  cursor: pointer;
  background-color: aqua;
}

.panel-item {
  list-style-type: "\1F3C8";
  padding: 0 .5rem 2rem;
}

.rulebook-links {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.rulebook {
  display: block;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  cursor: pointer;
  background-color: aqua;
}

@media screen and (min-width: 768px) {

  .info-bar-panel > p, a, .panel-item {
    font-size: 1.8rem;
  }

}


/* ========== 3. FOOTER START ========== */
.footer__section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
  padding-bottom: 1rem;
  border-top: .2rem solid rgba(16, 78, 112, 1);
}

.footer__section > p {
  margin: 1.5rem auto 0;
}

@media screen and (min-width: 768px) {

  .footer__section {
    width: 80%;
  }
}

/* Teams section */
.teams {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 calc(65% - 1rem);
}

.teams > h3, .faba > h3 {
  margin: 0;
  padding: 1rem 0;
  font-variant: small-caps;
}

.teams__list-links {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0;
  padding: 0;
}

.teams-item, .faarg-links {
  list-style-type: none;
}

.teams-item > a > img {
  width: 2.4rem;
  height: 2rem;
  cursor: pointer;
  filter: drop-shadow(.1rem .1rem .5rem #012f48);
  color: rgba(1,47,72,1);
}

.faba {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;

}

.faarg__links-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}

.faarg-links > a > img {
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(.1rem .1rem .5rem #fff);
}

/* ========== 3. FOOTER END ========== */